{% load static %}

{% block content %}
<div class="card">
    <div class="card-header">
      <h1>Weather Prediction</h1>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <label for="MinTemp" class="form-control">Minimum Temperature</label>
                <input class="form-control" name="MinTemp" type="number" step="0.1" aria-label=".form-control-lg example" required>
            </div>
            <div class="input-group mb-3">
                <label for="Evaporation" class="form-control">Evaporation</label>
                <input class="form-control" name="Evaporation" type="number" step="0.1" aria-label=".form-control-lg example" required>
            </div>
            <div class="input-group mb-3">
                <label for="WindGustSpeed" class="form-control">Average Gust Speed</label>
                <input class="form-control" name="WindGustSpeed" type="number" step="0.1" aria-label=".form-control-lg example" required>
            </div>
            <div class="input-group mb-3">
                <label for="AvgWindSpeed" class="form-control">Average Wind Speed</label>
                <input class="form-control" name="AvgWindSpeed" type="number" step="0.1" aria-label=".form-control-lg example" required>
            </div>
            <div class="input-group mb-3">
                <label for="AvgHumidity" class="form-control">Average Humidity</label>
                <input class="form-control" name="AvgHumidity" type="number" step="0.1" aria-label=".form-control-lg example" required>
            </div>
            <div class="input-group mb-3">
              <label for="AvgPressure" class="form-control">Average Pressure</label>
                <input class="form-control" name="AvgPressure" type="number" step="0.1" aria-label=".form-control-lg example" required>
            </div>
            <div class="input-group mb-3">
                <label for="AvgCloud" class="form-control">Average Cloud</label>
                <input class="form-control" name="AvgCloud" type="number" step="0.1" aria-label=".form-control-lg example" required>
            </div>
            <div class="input-group mb-3">
                <label for="RainToday" class="form-control">Rain Today</label>
                <select name="RainToday" id="RainToday" class="form-control">
                    <option value="1.0">Yes</option>
                    <option value="0.0">No</option>
                </select>
            </div>
            <a href="{{home}} "><button type="submit"  class="btn btn-primary" id=".submit"> Submit</button></a>
            <!-- <h1>{{ predict }}</h1> -->
            </div>
            <div class="card-footer">
              <form action="" method="post">
                {% if predict == 1 %}  
                  <img src="../../media/rain.png" alt="" srcset="" width="100px" height="100px">
                  <!-- <h1>Va a llover</h1> -->
                {% elif predict == 0 %}
                  <img src="../../media/rain't.png" alt="" srcset="" width="100px" height="100px">
                  <!-- <h1>No va a Llover</h1> -->
                {% else %}
                  <p></p>
                <!-- <img src="../../modelo/kitten.png" alt="" srcset="" width="50px" height="50px"> -->
                {% endif %}
              </form>
            </div>
        </form>
    </div>
</div>
{% endblock content %}