*{
    font-family: 'Times New Roman', Times, serif;
}

.container-offline{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

p{
    margin-bottom: 0.1rem !important;
}

.darkmode{
    padding-right: 5px;
}

.navbar-expand-lg a{
    color: white;
}

.navbar-expand-lg span{
    color:white;
}