{% load static %}

{% block header %}

<nav class="navbar navbar-expand-lg" style="background-color: slateblue">
    <div class="container-fluid">
        {% if user.is_authenticated%}
            <a class="navbar-brand active" href="/profile/"><p class="text-capitalize">{{ user.username }}</p></a>
        {% else %}
            <a class="navbar-brand active" href="#"><p class="text-capitalize">Rain Forecast in Australia</p></a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/map/">Map</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/weather/">Weather</a>
                </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Map</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Weather</a>
                </li>
            {% endif %}
        </ul>
        <a href="#" class="darkmode"><button class="btn btn-dark" disabled type="submit"><img src="../../static/dark/images/moon.png" alt="" srcset="" width="20px" height="20px"></button></a>
        {% if user.is_authenticated %}
            <a href="{% url 'exit' %}"><button type="submit"  class="btn btn-danger"> Logout </button></a>
        {% else %}
            <a href="#"><button disabled="disabled" class="btn btn-warning"> Signup </button></a>
        {% endif %}
        </div>
    </div>
    </nav>
{% endblock header %}