{% load static %}

<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Manifest -->
    <link rel="manifest" href="../../manifest.json">
    <!-- Service Worker -->
    {% load pwa %}
    {% progressive_web_app_meta %}
    <!-- Css -->
    {% block css %}

    {% endblock css %}
    <!-- Title -->
    {% block title %}

    {% endblock title%}
    <!-- Top Script -->
    {% block topjs %}
    
    {% endblock topjs %}
</head>
<body>
    <header>
        {% include "base/header.html" %}
    </header>
    <main class="main">
        {% block content %}

        {% endblock content %}
    </main>
    <footer>
        {% include "base/footer.html" %}
    </footer>
    {% block js %}

    {% endblock js%}
    <!-- Install ServiceWorker -->
    <script src="../../installsw.js"></script>
    <!-- Navbar -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>