*{
    font-family: 'Times New Roman', Times, serif;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.bx.bxs-user{
    align-self: center;
    font-size: 250px !important;
}

.card{
    width: 50%;
}

.navbar-expand-lg a{
    color: white;
}

.navbar-expand-lg span{
    color:white;
}

.card-body{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card-body-2{
    display: flex;
    justify-content: center;
    width: 90%;
}

.card-header{
    display: flex;
    justify-content: center;
}

p{
    margin-bottom: 0.1rem !important;
}

@media (max-width: 1200px){

    .card{
        width: 70% !important;
    }

}

@media (max-width: 1200px){

    .card{
        width: 70% !important;
    }

}

@media (max-width: 600px){
    .card-img-top{
        width: 30% !important;
    }
    .card{
        width: 80% !important;
    }

    .bx.bxs-user{
        font-size: 100px !important;
    }

}