*{
    font-family: 'Times New Roman', Times, serif;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img-top{
    width: 50% !important;
    align-self: center;
}

.card{
    width: 65% !important;
}

.card-header{
    display: flex;
    justify-content: center;
}

.card-footer{
    display: flex;
    justify-content: center;
}

.navbar-expand-lg a{
    color: white;
}

.navbar-expand-lg span{
    color:white;
}

p{
    margin-bottom: 0.1rem !important;
}


@media (max-width: 1000px){

    .main{
        height: 120vh;
    }

    .card{
        width: 80% !important;
    }
}

@media (max-width: 400px){
    .main{
        height: 150vh;
    }

    .card{
        width: 90% !important;
    }

}