.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

img{
    width: 300px;
    height: 300px;
}

.navbar-expand-lg a{
    color: white;
}

.navbar-expand-lg span{
    color:white;
}

.card-header{
    display: flex;
    justify-content: center;
}

p{
    margin-bottom: 0.1rem !important;
}
