*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.navbar-expand-lg a{
    color: white;
}

.navbar-expand-lg span{
    color:white;
}

.card{
    width: 50%;
}

.card-header{
    display: flex;
    justify-content: space-evenly;
}

.tiempo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    margin-bottom: 0.1rem !important;
}

img{
    border-radius: 50px;
}
 